.Shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.Products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 20px;
}
.Cart-container{
    background-color: #facd89;
}