
.body-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
    text-align: center;
}
.Skill-info{
    background-color: rgb(150, 227, 247);
}
@media only screen and (max-width: 768px) {
    .body-container {
        grid-template-columns: 1fr;
    }
}
