*{
  margin: 0px;
  padding: 0px;
}
.App {
display: grid;
grid-template-columns: 3fr 1fr;
}
.left-container{
  margin:100px;
}
.headtitle{
  display: flex;
  align-items: center;
  color: rgb(6, 135, 158);
  gap: 10px;
}
.Cart-Container img{
  width:300px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
